.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    width: 100%;
}

.header-name {
  color: #222731;
  font-size: 24px;
  font-weight: 700;
}

.theme-name {
  color: #697c9a;
  font-size: 13px;
  font-weight: 700;
}

.theme-name-icon {
  display: flex;
  gap: 7px;
  cursor: pointer;
}